# Dimensionality Reduction

In [1]:
from src.preprocessing import load_data, get_statistics
from pathlib import Path

In [2]:
data_path = Path('data')
file_path = data_path / '23MAG_HW_1_v1.xls'

In [3]:
dataset = load_data(file_path)

In [4]:
get_statistics(dataset)

,Statistic,Age,Number of dependents,Salary,Years of stay in the region,Car price,Amount of credit
0,Mean,39.298507,2.086957,19861.764706,10.101449,20852.941176,198492.537313
1,Median,38.000000,2.000000,20250.000000,9.000000,20500.000000,200000.000000
2,Std,8.700427,0.996156,10169.342711,4.932321,10692.813469,99837.348500
3,Quantile (25%),34.000000,1.000000,11125.000000,7.000000,12000.000000,118000.000000
4,Quantile (50%),38.000000,2.000000,20250.000000,9.000000,20500.000000,200000.000000
5,Quantile (75%),46.000000,3.000000,27125.000000,14.000000,28000.000000,265500.000000